<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="//rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js"></script>
    <title>WeWork Login</title>
</head>
<body>
    <h1>微信PC端</h1>
    <a href={{ .redirURL }}>
        <img src="//rescdn.qqmail.com/node/ww/wwopenmng/style/images/independent/brand/300x40_blue$cecbbc4e.png" srcset="//rescdn.qqmail.com/node/ww/wwopenmng/style/images/independent/brand/300x40_blue_2x$c22687e4.png 2x" alt="企业微信登录"/>
    </a>
    
</body>
</html>