<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js"></script>
    <title>WeWork Login</title>
    <style>
    html, body {
        width: 100%;
        background-color: #ececec;    
        height: 100%;
    }
    iframe {
        padding: 40px 10px 0px 10px;
        margin-top: 30px;
        background-color: white;
    }
    #wx_reg {
        text-align: center;
    }
    </style>
</head>
<body>
    <div id="wx_reg"></div>
    <script>
    window.WwLogin({
        "id" : "wx_reg",  
        "appid" : {{ .appid }},
        "agentid" : {{ .agentid }},
        "redirect_uri" :{{ .redirect_uri }},
        "state" : {{ .state }},
        "href" : "",
        });
    </script>
</body>
</html>